/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/default/default-theme.css';
@font-face {
  font-family: Raleway-Regular;
  src: url(./assets/fonts/Raleway/Raleway-Regular.ttf);
  font-weight: regular;
}

@font-face {
  font-family: Raleway-Semibold;
  src: url(./assets/fonts/Raleway/Raleway-SemiBold.ttf);
  font-weight: semibold;
}

@font-face {
  font-family: Raleway-Medium;
  src: url(./assets/fonts/Raleway/Raleway-Medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: Raleway-Bold;
  src: url(./assets/fonts/Raleway/Raleway-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Raleway-ExtraBold;
  src: url(./assets/fonts/Raleway/Raleway-ExtraBold.ttf);
  font-weight: extrabold;
}

@font-face {
  font-family: Raleway-Light;
  src: url(./assets/fonts/Raleway/Raleway-Light.ttf);
  font-weight: light;
}

@font-face {
  font-family: Roboto-Thin;
  src: url(./assets/fonts/Roboto/Roboto-Thin.ttf);
  font-weight: thin;
}

@font-face {
  font-family: Roboto-Light;
  src: url(./assets/fonts/Roboto/Roboto-Light.ttf);
  font-weight: light;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: regular;
}

@font-face {
  font-family: Silver-Charm;
  src: url(./assets/fonts/SilverCharm/SilverCharm.otf);
}

/*ICONS FONTS*/

@font-face {
  font-family: "icons-font";
  src:url("./assets/fonts/icons-font.eot");
  src:url("./assets/fonts/icons-font.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/icons-font.woff") format("woff"),
    url("./assets/fonts/icons-font.ttf") format("truetype"),
    url("./assets/fonts/icons-font.svg#iconsfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icons-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bebes:before {
  content: "\61";
}
.icon-close:before {
  content: "\65";
}
.icon-corazon:before {
  content: "\66";
}
.icon-corazon-silueta:before {
  content: "\67";
}
.icon-cuando:before {
  content: "\68";
}
.icon-direccion:before {
  content: "\69";
}
.icon-discapacidad:before {
  content: "\6a";
}
.icon-domicilio:before {
  content: "\6b";
}
.icon-donde:before {
  content: "\6c";
}
.icon-menos:before {
  content: "\6d";
}
.icon-mascotas:before {
  content: "\6e";
}
.icon-mas:before {
  content: "\6f";
}
.icon-instagram:before {
  content: "\70";
}
.icon-hombres:before {
  content: "\71";
}
.icon-happy-hour:before {
  content: "\72";
}
.icon-glam:before {
  content: "\73";
}
.icon-estrella:before {
  content: "\74";
}
.icon-more:before {
  content: "\75";
}
.icon-youtube:before {
  content: "\76";
}
.icon-estrella-media:before {
  content: "\77";
}
.icon-estrella-vacia:before {
  content: "\78";
}
.icon-facebook:before {
  content: "\79";
}
.icon-open:before {
  content: "\7a";
}
.icon-ninos:before {
  content: "\41";
}
.icon-mujeres:before {
  content: "\42";
}
.icon-parqueadero:before {
  content: "\43";
}
.icon-precio:before {
  content: "\44";
}
.icon-reducciones:before {
  content: "\45";
}
.icon-restaurante:before {
  content: "\46";
}
.icon-todo:before {
  content: "\47";
}
.icon-tratamiento:before {
  content: "\48";
}
.icon-twitter:before {
  content: "\49";
}
.icon-ultimo-minuto:before {
  content: "\4a";
}
.icon-wifi:before {
  content: "\4b";
}
.icon-establecimiento:before {
  content: "\4c";
}
.icon-fecha:before {
  content: "\62";
}
.icon-glamlogo:before {
  content: "\63";
}
.icon-chevron-down:before {
  content: "\64";
}
.icon-chevron-left:before {
  content: "\4d";
}
.icon-chevron-right:before {
  content: "\4e";
}
.icon-chevron-up:before {
  content: "\4f";
}
.icon-check-square:before {
  content: "\50";
}
.icon-caret-down:before {
  content: "\51";
}
.icon-caret-left:before {
  content: "\52";
}
.icon-caret-right:before {
  content: "\53";
}
.icon-caret-up:before {
  content: "\54";
}
.icon-check-square-o:before {
  content: "\55";
}
.icon-angle-down:before {
  content: "\56";
}
.icon-angle-left:before {
  content: "\57";
}
.icon-angle-right:before {
  content: "\58";
}
.icon-angle-up:before {
  content: "\59";
}
.icon-at:before {
  content: "\5a";
}
.icon-behance-square:before {
  content: "\30";
}
.icon-bell:before {
  content: "\31";
}
.icon-bell-o:before {
  content: "\32";
}
.icon-car:before {
  content: "\33";
}
.icon-camera:before {
  content: "\34";
}
.icon-calendar-o:before {
  content: "\35";
}
.icon-location-arrow:before {
  content: "\36";
}
.icon-minus-square-o:before {
  content: "\37";
}
.icon-plane:before {
  content: "\38";
}
.icon-plus-circle:before {
  content: "\39";
}
.icon-wheelchair:before {
  content: "\21";
}
.icon-venus:before {
  content: "\22";
}
.icon-paw:before {
  content: "\23";
}
.icon-mars:before {
  content: "\24";
}
.icon-times-circle-o:before {
  content: "\25";
}
.icon-times-circle:before {
  content: "\26";
}
.icon-plus-square-o:before {
  content: "\27";
}
.icon-plus-square:before {
  content: "\28";
}
.icon-usd:before {
  content: "\29";
}
.icon-unlock-alt:before {
  content: "\2a";
}
.icon-alert:before {
  content: "\2b";
}
.icon-file-media:before {
  content: "\2c";
}
.icon-issue-opened:before {
  content: "\2d";
}
.icon-info:before {
  content: "\2e";
}
.icon-location:before {
  content: "\2f";
}
.icon-search:before {
  content: "\3a";
}
.icon-trashcan:before {
  content: "\3b";
}
.icon-x:before {
  content: "\3c";
}
.icon-lock:before {
  content: "\3d";
}
.icon-lock-1:before {
  content: "\3e";
}
.icon-user:before {
  content: "\3f";
}
.icon-users:before {
  content: "\40";
}
.icon-list-ul:before {
  content: "\5b";
}
.icon-clock-o:before {
  content: "\5d";
}
.icon-check-circle-o:before {
  content: "\5f";
}
.icon-align-justify:before {
  content: "\5e";
}
.icon-envelope-o:before {
  content: "\60";
}
.icon-phone:before {
  content: "\7b";
}
.icon-link:before {
  content: "\7c";
}
.icon-picture:before {
  content: "\7d";
}
.icon-photo:before {
  content: "\7e";
}
.icon-cc-visa:before {
  content: "\5c";
}
.icon-cc-amex:before {
  content: "\e000";
}
.icon-calendar:before {
  content: "\e001";
}
.icon-caret-square-o-down:before {
  content: "\e002";
}
.icon-caret-square-o-left:before {
  content: "\e003";
}
.icon-caret-square-o-right:before {
  content: "\e004";
}
.icon-caret-square-o-up:before {
  content: "\e005";
}
.icon-cc-mastercard:before {
  content: "\e006";
}
.icon-cc-paypal:before {
  content: "\e007";
}
.icon-chain-broken:before {
  content: "\e008";
}
.icon-check:before {
  content: "\e009";
}
.icon-check-circle:before {
  content: "\e00a";
}
.icon-chevron-circle-down:before {
  content: "\e00b";
}
.icon-chevron-circle-left:before {
  content: "\e00c";
}
.icon-chevron-circle-right:before {
  content: "\e00d";
}
.icon-chevron-circle-up:before {
  content: "\e00e";
}
.icon-cloud-download:before {
  content: "\e00f";
}
.icon-cloud-upload:before {
  content: "\e010";
}
.icon-comment:before {
  content: "\e011";
}
.icon-comment-o:before {
  content: "\e012";
}
.icon-commenting:before {
  content: "\e013";
}
.icon-commenting-o:before {
  content: "\e014";
}
.icon-credit-card:before {
  content: "\e015";
}
.icon-eye:before {
  content: "\e016";
}
.icon-ellipsis-h:before {
  content: "\e017";
}
.icon-ellipsis-v:before {
  content: "\e018";
}
.icon-envelope:before {
  content: "\e019";
}
.icon-eye-slash:before {
  content: "\e01a";
}
.icon-file-image-o:before {
  content: "\e01b";
}
.icon-folder-o:before {
  content: "\e01c";
}
.icon-folder-open-o:before {
  content: "\e01d";
}
.icon-folder-open:before {
  content: "\e01e";
}
.icon-heart-o:before {
  content: "\e01f";
}
.icon-heart:before {
  content: "\e020";
}
.icon-map-marker:before {
  content: "\e021";
}
.icon-lock-2:before {
  content: "\e022";
}
.icon-paperclip:before {
  content: "\e023";
}
.icon-quote-left:before {
  content: "\e024";
}
.icon-quote-right:before {
  content: "\e025";
}
.icon-times:before {
  content: "\e026";
}
.icon-whatsapp:before {
  content: "\e027";
}
.icon-wifi-1:before {
  content: "\e028";
}
.icon-eye-1:before {
  content: "\e029";
}
.icon-clock:before {
  content: "\e02a";
}
.icon-link-1:before {
  content: "\e02b";
}
.icon-mention:before {
  content: "\e02c";
}
.icon-question:before {
  content: "\e02d";
}
.icon-clock-1:before {
  content: "\e02e";
}
.icon-minus-circle:before {
  content: "\e02f";
}
.icon-list:before {
  content: "\e030";
}
.icon-paperclip-1:before {
  content: "\e031";
}
.icon-cancel:before {
  content: "\e032";
}
.icon-cancel-circled:before {
  content: "\e033";
}
.icon-clock-2:before {
  content: "\e034";
}
.icon-check-1:before {
  content: "\e035";
}
.icon-cog:before {
  content: "\e036";
}
.icon-plus:before {
  content: "\e037";
}
.icon-lock-stroke:before {
  content: "\e038";
}
.icon-unlock-stroke:before {
  content: "\e039";
}
.icon-locked:before {
  content: "\e03a";
}
.icon-certificate-file:before {
  content: "\e03b";
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body{
  font-family: 'Raleway', sans-serif;
  /*color: #ffffff;*/
  overflow-x: hidden;
  /*background: linear-gradient(to left, #F53D3A , #c95e60);*/
}

#calendar h2{
  font-family: 'Roboto medium';
  font-size: 16px;
  text-transform: capitalize;
  color: #F53D3A;
}

.mat-step-icon{
  background:transparent !important;
}

.mat-step-icon span, .mat-step-label-selected{
  color:#F53D3A !important;
}

.mat-horizontal-stepper-header-container{
  margin-left: 10%;
  margin-right: 10%;
}

.nav.child_menu .form-group span{
  font-family: "Raleway-Regular" !important;
}

.nav.child_menu .form-group label{
  margin: 6px;
}

.fc-axis.fc-time.fc-widget-content{
  color:#000;
}

#calendar .fc-slats tbody tr{
  height: 50px !important;
}

#calendar .fc-widget-header a{
  font-family: Roboto-Regular;
  color: #4D4D4D;
}

#calendar .fc-today a{
  color: #F53D3A;
}

#calendar1 .fc-header-toolbar .fc-left h2{
  font-family: Raleway-Regular;
  font-size: 16px;
  text-transform: capitalize;
  color: #F53D3A;
}

#calendar1 .fc-prev-button.fc-button, #calendar1 .fc-next-button.fc-button, #calendar .fc-prev-button.fc-button, #calendar .fc-next-button.fc-button, #calendar .fc-today-button.fc-button, .fc-agendaDay-button.fc-button, .fc-agendaWeek-button.fc-button{
  background: #E8E8EA;
  font-size: 12px;
  color: #4D4D4D;
  border: 0;
  border-radius: 0;
  margin: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

#calendar1 .fc-ltr .fc-basic-view .fc-day-top {
  text-align: center;
}

#calendar1 .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  font-family: Roboto-Regular;
  float: none !important;
}

#calendar1 .fc-day-top.fc-today {
  background: #fff !important;
  border-bottom: 1px solid #F53D3A !important;
}

#calendar1 .fc-basic-view .fc-body .fc-row{
  min-height: 1em;
}

.barra-busqueda .mat-form-field-underline,
.add-date-input .mat-form-field-underline,
.date-input .mat-form-field-underline, 
.mat-form-field-underline{
  display:none;
}

.add-date-input .mat-form-field-wrapper{
  height: 45px;
}


.ng-select.itemsFilter .ng-select-container{
  min-height: 40.5px;
}

.ng-select.itemsFilter .ng-select-container:after{
  border:0 !important;
}

.width-politics span{
  overflow: hidden !important;
  white-space: nowrap !important;
  text-align: justify !important;
  white-space: normal !important;
}

.edit-client .mat-slide-toggle-bar, .edit-button .mat-slide-toggle-bar{
  display: none;
}


.modal-backdrop.fade{
  opacity: 0.5 !important;
}
.modal-open .modal{
  opacity: 1 !important;
}
.modal-content{
  padding-top: 145px;
}

/* Mat Autocomplete on Modal Fixes */
.cdk-overlay-container {z-index: 999999 !important;}

.barra-busqueda .date .mat-button-wrapper{
  color: #F53D3A;
  font-size: 20px;
}

.send-button{
  background: #50d163 !important;
}

a.fc-time-grid-event{
  background: #E8E8E8 !important;
  border: 0 !important;
  border-left: 2px solid #F53D3A !important;
}

a.fc-time-grid-event .fc-time{
  color: #F53D3A !important;
  font-family: Roboto-Medium;
}
.fc-time-grid-event .fc-title{
  color: #4D4D4D;
  font-family: Raleway-Regular;
}

.mat-accent .mat-slider-thumb{
  background-color: #F53D3A !important;
}

.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
  background-color: #F53D3A !important;
}
.summary-content .mat-button-toggle-checked button{
  background: #F53D3A;
  color: #fff;
}